@import './variables.scss';

.meta-id {
    margin: 0 0 0.1em 0;
    font-size: 0.9em;
    line-height: 1.2em;
}
.meta-ids {
    padding: 0 0 1em 0;
}

.meta-title {
    font-size: 2em;
}

.meta-author {
    font-size: 1.6em;
}