/*
	Hologram by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body {
		
		background-size: cover;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

		body.landing {
			
			background-size: cover;
			-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
		}