@import './variables.scss';

.wrapper-view {
    display: flex;
    flex-direction: column;
    height: 46vh;
    align-items: stretch;
    position: relative;
  }
  // .top-bar {
  //   background: rgba(240, 20, 100, 0.5);
  //   padding: $pad-text;
  // }
  .viewer {
    flex-grow: 1;
    background: #ccc;
    padding: 0;
    // background-size: 
  }

  .viewer-sizer {
    z-index: 1000;
    background-color: rgba(40, 40, 40, 0.2);
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 0;
    line-height: 2em;
    padding: 0.4em;
    height: 2.8em;
    cursor: pointer;
    &:focus {
      outline-color: none;
      outline-style: none;
      outline-width: 0;
    }
    &:hover {
      background-color: rgba(40, 40, 40, 0.8);
    }
  }

  // .viewer img {
  //   background-size: cover;
  //   background-position: top;
  // }

  // .viewer:hover img {
  //   opacity: 0;
  // }
  
  .wrapper-entry {
    display: flex;
    flex-direction: row;
    height: 54vh;
  }
  
  .details {
    padding: $pad-text;
    z-index: 100;
    flex: 1 0px;
    flex-basis: 38vw;
    overflow: scroll;
    background-color: #eee;
  }

  .wrapper-forms {
    z-index: 100;
    padding: $pad-text;
    flex: 1 0px;
    flex-basis: 70vw;
    overflow: scroll;
    background-color: #eee;
  }

  /* MEDIA QUERIES
breakpoints: 1680, 1280, 980, 736, 480
*/
@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 980px) {
    .details {
        flex-basis: 50vw;
    }
}

@media screen and (max-width: 736px) {

}

@media screen and (max-width: 480px) {

}
