@import './variables.scss';

.tabs {
    cursor: pointer;
}
.tab-list { 
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    .tab-list-item {
        display: inline-block;
        list-style: none;
        margin-bottom: -1px;
        padding: 0.5rem 0.75rem;

        &.active {
            background-color: #efefef;
            border: solid #ccc;
            border-width: 1px 1px 0 1px;
        }
      }

}

.tab-content {
    background-color: #efefef;
    padding: $pad-text;
}

