@import './variables.scss';

.tabs {
    cursor: pointer;
}

.tab-list { 
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    .tab-list-item {
        display: inline-block;
        list-style: none;
        margin-bottom: -1px;
        padding: 0.5rem 0.75rem;
        border-radius: 3px;

        &.active {
            background-color: #ddd;
            border: solid #ccc;
            border-width: 1px 1px 0 1px;
            font-weight: bold;
        }
      }

}

.tab-content {
    background-color: #ddd;
    padding: $pad-text;
    ul {
        list-style: none;
        padding-left: 0em;
    }
    button {
        color: $color-dark !important;
        // border: 1px solid $color-brand-primary;
        // font-size: 1em;
        // margin-bottom: 1em;
    }
}

input {
    width: 100%;
}

.viewer-btn {
    padding-left: 0.5em;
}
.search-btn {
    border: 0;
    padding: 0 10px;
    margin: 0;
    line-height: 2em;
    height: 3em;
}
.search-bar {
    padding: 0.5em 0 1em 0;
}

.bolded {
    font-weight: bold;
    letter-spacing: 0.1em;
}

